The dataset shall be cleaned through the following processes

1. Checking the number of columns
2. Checking misplelt column names to the correct names
3. Checking for missing values
4. Checking for duplicate values
5. Checking for outliers

In [11]:
import numpy as np
import pandas as pd
df = pd.read_csv("Amazon Sales data.csv")
df.head(10)
#df.duplicated()

#df.dtypes

#df.info()
df['year sales'] = pd.DatetimeIndex(df['Order Date']).year
df['month sales'] = pd.DatetimeIndex(df['Order Date']).month
df

df.max()
#df.min()
#df.to_csv("Amazon Sales data.csv")

,Unnamed: 0,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,year sales,month sales,month ship
0,0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50,2010,5,6
1,1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36,2012,8,9
2,2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75,2014,5,5
3,3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82,2014,6,7
4,4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50,2013,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72,2011,7,9
96,96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47,2011,11,12
97,97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05,2016,6,6
98,98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02,2015,7,8
99,99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91,2012,2,2